<% provide(:title, "Contact") %>
<h1>Contact</h1>

<p>
  I'm on the road alot, so the best way to reach me is via
  <a href="mailto:t.beiko23@gmail.com?">email</a> !
</p>
<p>
  You can also contact the Ruby on Rails Tutorial about the sample app at their
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>