<h1>Activation</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Thanks for trying out Tim's app! Click on the link below and we'll activate your account so you can get started.
</p>

<%= link_to "Activate my account", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                    
                                                  