<h1>Password reset</h1>

<p>Seems you've forgotten your password. No worries. Just click the link below and we'll go aheand and reset it. </p>

<%= link_to "Reset password",
            edit_password_reset_url(@user.reset_token,
                                    email: @user.email) %>

<p>Oh, and do it fast ! To make sure you stay safe and sound, we'll destroy this link in two hours. Clock's ticking.</p>

<p>
Didn't request this email ? Don't want your password changed? Again, it's all good. Just ignore this email and log right in with your password.
It'll work. 
</p>
